
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DM+Serif+Text:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-oleo {
    font-family: 'Oleo Script', cursive;
  }

  .font-dm-serif {
    font-family: 'DM Serif Text', serif;
  }

  .font-cinzel {
    font-family: 'Cinzel', serif;
  }
  .font-baru{
    font-family: 'dela gothic one', sans-serif;
  }